.dropdown-champions-default {
    position: inherit;
    width: -webkit-fill-available;
}

.dropdown-champions-default.dropdown-drop-up::part(ui-dropdown-menu),
.dropdown-champions-default.dropdown-drop-up::part(ui-dropdown-content),
.dropdown-champions-default.dropdown-drop-up::part(ui-dropdown-options) {
    top: auto;
    bottom: 100%;
    transform-origin: bottom;
}

.auto-select-checkboxes-div {
    display: flex;
    border-top: thin solid #1e282d;
}

.auto-select-checkbox {
    margin: auto;
}

.auto-select-checkbox:last-child {
    margin-right: 17px;
}