name: Publicar pacote no NPM

on:
  workflow_dispatch:
  push:
    paths:
      - src/**
      - package.json
      - package-lock.json

permissions:
  id-token: write
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configurando o Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Rodando instalação limpa
        run: npm ci

      - name: Buildando o plugin
        run: npm run build --if-present

      - name: Rodando testes
        run: npm test --if-present

      - name: Publicando o pacote
        run: npm publish
